<%- include("partials/header") -%>


<h1>Spanish to English</h1>

<% cards.forEach(function(card){ %>
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <h2><%= card.foreignW %></h2>
      </div>
      <div class="flip-card-back">
          <div class="card_header">
            <h2><%= card.englishW %></h2>
          </div>
            <h3>Example Phrases:</h3>
            <p><%= card.exampleP %></p>  
    </div>
   </div>
  </div>

<% }); %>


<%- include("partials/footer") -%>
